__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
*.egg-info/
.python-version

.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

allure-results/
allure-report/

logs/
*.log

.env

mitmproxy/
